In [1]:
import pandas as pd
import numpy as np
import random
import math
from pandas import DataFrame as df
import warnings
warnings.filterwarnings('ignore')

x = pd.read_csv("YouTube_Dataset.csv")

In [2]:
# Alterando a duração para segundos
for i in range (len(x['Duração'])):
    s = ""
    s = x['Duração'][i].split(":")
    x['Duração'][i] = (int(s[0])*60 + int(s[1]))
    
print(x['Duração'].head(10))

0     498
1     610
2     397
3     431
4     956
5     916
6     752
7    1387
8     744
9     478
Name: Duração, dtype: object

In [3]:
def mes(temp):
    if(temp == "jan."):
        return "/1/"
    if(temp == "fev."):
        return "/2/"
    if(temp == "mar."):
        return "/3/"
    if(temp == "abr."):
        return "/4/"
    if(temp == "mai."):
        return "/5/"
    if(temp == "jun."):
        return "/6/"
    if(temp == "jul."):
        return "/7/"
    if(temp == "ago."):
        return "/8/"
    if(temp == "set."):
        return "/9/"
    if(temp == "out."):
        return "/10/"
    if(temp == "nov."):
        return "/11/"
    if(temp == "dez."):
        return "/12/"

In [4]:
# Alterando a data para o formato dd/mm/yyyy
for i in range (len(x['Data'])):
    s = ""
    s = x['Data'][i].split(" ")
    x['Data'][i] = s[0] + mes(s[2]) + s[4]
    
print(x['Data'].head(10))

0     24/3/2018
1     24/1/2016
2     26/7/2015
3     19/3/2018
4    11/12/2017
5     29/5/2017
6     09/3/2017
7     30/3/2017
8    22/12/2015
9     07/8/2014
Name: Data, dtype: object

In [5]:
# Alterando a data para dias (arredondando meses para 30 dias)

for i in range (len(x['Data'])):
    s = ""
    s = x['Data'][i].split("/")
    yearsToMonths = 2019 - int(s[2])
    monthsToDays = 12 - int(s[1]) + yearsToMonths * 12
    days = 30 - int(s[0]) + monthsToDays * 30
    x['Data'][i] = days
    
print(x['Data'].head(10))

0     636
1    1416
2    1594
3     641
4     739
5     931
6    1011
7     990
8    1448
9    1943
Name: Data, dtype: object

In [6]:
# Alterando os links para tirar os dados da playlist e deixar só os vídeos

for i in range (len(x['Link'])):
    s = ""
    s = x['Link'][i].split("&")
    x['Link'][i] = s[0]

print(x['Link'].head(10))

0    https://www.youtube.com/watch?v=KHnnNOkryMg
1    https://www.youtube.com/watch?v=cwRHEfZm718
2    https://www.youtube.com/watch?v=jV4K-t27l0E
3    https://www.youtube.com/watch?v=xowiTRRsQIs
4    https://www.youtube.com/watch?v=u-R_dAtEP9k
5    https://www.youtube.com/watch?v=3Sv8B99lpR0
6    https://www.youtube.com/watch?v=1qWGGhkZcB0
7    https://www.youtube.com/watch?v=tTa8Zg5HO0M
8    https://www.youtube.com/watch?v=AV5PjSoNZJc
9    https://www.youtube.com/watch?v=Acc3bex1pIQ
Name: Link, dtype: object

In [7]:
# Alterando os inscritos para milhar (aproximado)

for i in range (len(x['Inscritos'])):
    x['Inscritos'][i] = x['Inscritos'][i] * 1000

In [8]:
# Exportando o csv preprocessado

x.to_csv(r'C:\Users\Acer\Dropbox\UFABC\2019.3\SI\YouTube_Dataset_Preprocessing.csv', index = None, header = True)

In [9]:
# Mostrando quantos vídeos tem de cada Tema

x.groupby('Tema').count()[['Título']].sort_values(by=['Título'], ascending=0)

            Título
Tema
Biologia        65
Física          59
Astronomia      41
História        30
Outro           25
Política        21
Filosofia       16
Opinião         14
Computação       8
Religião         8
Sociologia       4
Química          3
Cinema           2
Matemática       2
Música           2

In [10]:
# Mostrando quantos vídeos tem de cada formato

x.groupby('Formato').count()[['Título']].sort_values(by=['Título'], ascending=0)

            Título
Formato
Vlog           184
Draw            64
Ensaio          32
Áudio           10
Outro            6
Entrevista       4

In [11]:
# Atribuindo números a cada tema de vídeo

for i in range (len(x['Tema'])):
    if x['Tema'][i] == "Biologia":
        x['Tema'][i] = 9
    if x['Tema'][i] == "Física":
        x['Tema'][i] = 8
    if x['Tema'][i] == "Astronomia":
        x['Tema'][i] = 7
    if x['Tema'][i] == "História":
        x['Tema'][i] = 6
    if x['Tema'][i] == "Filosofia":
        x['Tema'][i] = 5
    if x['Tema'][i] == "Computação":
        x['Tema'][i] = 4
    if x['Tema'][i] == "Sociologia":
        x['Tema'][i] = 3
    if x['Tema'][i] == "Química":
        x['Tema'][i] = 2
    if x['Tema'][i] == "Matemática":
        x['Tema'][i] = 1

In [12]:
# Atribuindo números a cada formato de vídeo

for i in range (len(x['Formato'])):
    if x['Formato'][i] == "Vlog":
        x['Formato'][i] = 5
    if x['Formato'][i] == "Draw":
        x['Formato'][i] = 4
    if x['Formato'][i] == "Ensaio":
        x['Formato'][i] = 3
    if x['Formato'][i] == "Áudio":
        x['Formato'][i] = 2
    if x['Formato'][i] == "Entrevista":
        x['Formato'][i] = 1

In [13]:
# Apagando vídeos em formatos diferentes

# Retirando vídeos de outros temas
indexNames = x[x['Tema'] == "Outro"].index
x.drop(indexNames , inplace=True)
print(len(x), "linhas sem Tema Outro")

# Retirando vídeos de música
indexNames = x[x['Tema'] == "Música"].index
x.drop(indexNames , inplace=True)
print(len(x), "linhas sem Tema Música")

# Retirando vídeos de cinema
indexNames = x[x['Tema'] == "Cinema"].index
x.drop(indexNames , inplace=True)
print(len(x), "linhas sem Tema Cinema")

# Retirando vídeos de opinião
indexNames = x[x['Tema'] == "Opinião"].index
x.drop(indexNames , inplace=True)
print(len(x), "linhas sem Tema Opinião")

# Retirando vídeos de política
indexNames = x[x['Tema'] == "Política"].index
x.drop(indexNames , inplace=True)
print(len(x), "linhas sem Tema Política")

# Retirando vídeos de religião
indexNames = x[x['Tema'] == "Religião"].index
x.drop(indexNames , inplace=True)
print(len(x), "linhas sem Tema Religião")

# Apagando vídeos em formatos diferentes

indexNames = x[x['Formato'] == "Outro" ].index
x.drop(indexNames , inplace=True)
print(len(x), "linhas sem Formato Outro")

275 linhas sem Tema Outro
273 linhas sem Tema Música
271 linhas sem Tema Cinema
257 linhas sem Tema Opinião
236 linhas sem Tema Política
228 linhas sem Tema Religião
228 linhas sem Formato Outro

In [14]:
# Retirando as colunas que não vão para o treinamento

# Retirando a coluna com o Título do vídeo
x.pop('Título')

# Retirando a coluna com o Canal do vídeo
x.pop('Canal')

# Retirando a coluna com o Link do vídeo
x.pop('Link')

# Embaralhando os dados
x = x.sample(frac=1).reset_index(drop=True)

In [15]:
# Classificação 
# 1 para vídeos com mais de 200 mil visualizações
# 2 para vídeos entre 100 mil e 200 mil visualizações
# 3 para vídeos entre 50 mil e 100 mil visualizações
# 4 para vídeos entre 10 mil e 50 mil visualizações
# 5 para vídeos com menos de 10 mil visualizações

for i in range (len(x['Visualizações'])):
    if x['Visualizações'][i] >= 200000:
        x['Visualizações'][i] = 5
    elif x['Visualizações'][i] >= 100000:
        x['Visualizações'][i] = 4
    elif x['Visualizações'][i] >= 50000:
        x['Visualizações'][i] = 3
    elif x['Visualizações'][i] >= 10000:
        x['Visualizações'][i] = 2
    else:
        x['Visualizações'][i] = 1

In [18]:
print(x.head(10))
print(type(x))
# Exportando o csv processado
#x.to_csv(r'C:\Users\Acer\Dropbox\UFABC\2019.3\SI\YouTube_Dataset_Processed.csv', index = None, header = True)

   Inscritos Duração Tema Formato  Data  Visualizações
0     135000    5615    7       5  2135              1
1     145000     321    9       3  1019              5
2     157000    1387    5       5   990              3
3     135000    9081    7       5  1024              4
4     358000     265    9       4    67              3
5     358000     243    9       4    88              3
6     358000     162    9       4  2318              4
7     358000     202    9       4   799              5
8     128000     406    6       5  1938              4
9     153000     122    6       5  1546              4
<class 'pandas.core.frame.DataFrame'>

In [17]:
# Quantidade de elementos em cada classe

x.groupby('Visualizações').count()[['Data']]

               Data
Visualizações
1                35
2                46
3                42
4                69
5                36